/* General Stylings */
body {
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: rgb(26, 24, 24);
}

/* Header Stylings */
header {
    background-color: rgb(54, 54, 54);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 900;
}

/*Car Card Stylings */

.car-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
}

.car-card {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.temp-img {
    width: 200px;
    height: 200px;
    background-color: white;
}

.car-card p {
    text-align: center;
    margin: 0px;
    width: 200px;
    height: 50px;
    background-color: pink;
}