<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    {% for car in site.data.car-template %}
    {% if car.car-name == page.car_title %}
    <div class="banner">
        NOTE: This site is still under construction (not v1.0 yet)! Some features may not work; Layout is not final!
    </div>
    <header>
        <a href="../index.html">Legends of JDM</a>
    </header>

    <main>


        <div class="car-brand-container">
            {% for brand in site.data.car-brands %}
            {% if car.car-name contains brand.brand-name %}
            {{brand.brand-name}}
            {% endif %}
            {% endfor %}
        </div>

        <div class="specific-car-container">
            <div class="intro-info" id="top">
                <div class="intro-img-card">
                    <img src="{{car.info-img-card}}" alt="{{car.img-alt}}">
                    <div class="intro-img-attribution">
                        <a href="{{car.contributor-link}}">{{car.contributor-name}}</a>,
                        <a href="{{car.attribution-licence-link}}">{{car.attribution-licence}}</a>, via Wikimedia
                        Commons
                    </div>

                </div>

                <div class="car-description-container">
                    <div class="description-header-container">
                        <h1>{{car.car-name}}</h1>
                    </div>
                    <div class="description-item-container">
                        <div class="description-item">Production: </div>
                        <div class="description-item">Engine: </div>
                        <div class="description-item">Transmission: </div>
                        <div class="description-item">Drivetrain: </div>
                        <div class="description-item">Body Style: </div>
                        <div class="description-item">Designer: </div>
                    </div>
                </div>

            </div>

            <section id="car-intro">
                <h1 class="title">Introduction</h1>
                <div class="car-content"></div>
            </section>

            <section id="car-history">
                <h1 class="title">History</h1>
                <div class="car-content"></div>
            </section>

            <section id="car-trim">
                <h1 class="title">Design and Trims</h1>
                <div class="car-content"></div>
            </section>

            <section id="car-media">
                <h1 class="title">Media</h1>
                <div class="car-content">
                </div>
            </section>

            <section id="car-image-media">
                <h1 class="title">Images and Videos</h1>
                <div class="car-content">

                </div>
            </section>

            <section id="car-related">
                <h1 class="title">Learn more about the {{car.car-name}}</h1>
                <div class="car-content"></div>
            </section>

            <div class="btt-btn">
                <a href="#top">Back To Top</a>
            </div>
        </div>
    </main>
    {% endif %}
    {% endfor %}
    {% include footer.html %}
</body>

</html>